/* new */
.hero-main-shape{
    width: 100%;
}

/* new */
.hero-main-shape .card-line-h{
    border: 2px solid #d1d5da;
    border-radius: 2px;
    height: 0;
    width: 10%;
    margin-top: 110px;
}

/* new */
.flow-card{
    box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,0.15);
    margin-bottom:80px;
    width:320px;
    position:relative;
}

/* the centeralize point of the left circle */
#secondCard .card-title::after,#thirdCard .card-title::after{
    content: '';
    background: #6a737d;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -7px;
    top: 104px;
    z-index: 4;
}

/* the centeralize point of the right circle */
#secondCard .card-title::before,#firstCard .card-title::before{
    content: '';
    background: #6a737d;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -7px;
    top: 104px;
    z-index: 2;
}

/* new */
.right-circle{
    width: 17px;
    height: 34px;
    background: #f6f8fa;
    position: absolute;
    right: -16px;
    box-shadow: inset 0 0 0 1px #e1e4e8, 0 2px 4px rgba(0,0,0,0.15);
    top: 93px;
    border-bottom-right-radius: 34px;
    border-top-right-radius: 34px;
    z-index: 1;
}

/* new */
.left-circle{
    width: 17px;
    height: 34px;
    background: #f6f8fa;
    position: absolute;
    left: -16px;
    top: 93px;
    box-shadow: inset 0 0 0 1px #e1e4e8, 0 2px 4px rgba(0,0,0,0.15);
    border-bottom-left-radius: 34px;
    border-top-left-radius: 34px;
    z-index: 3;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.card-footer {
    padding: 0;
}

strong, b {
    font-weight: bold;
}

h3.hero-paragraph{font-weight:normal;font-family:"Heebo", sans-serif;color:#565678}
h3.hero-paragraph i{font-weight:bold}
.flow-card .card-title{border-radius:6px 6px 0 0;box-shadow:inset 0 0 0 1px #e1e4e8;padding:12px;background:#f6f8fa}
.flow-card .card-title h3{font-size:20px;margin:0}
.flow-card .card-title p{margin-bottom:0;font-size:14px}
.flow-card .card-icon{float:right;background:#0366d6;height:60px;width:60px;margin-left:24px;border-radius:50%;text-align:center;margin-top:-14px}
.flow-card .card-icon img{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);position:relative;margin:auto}
.flow-card .card-icon i{color:#fff;margin-top:9px}
.flow-card .card-body{padding:20px}
.flow-card .card-body p{margin-bottom:5px;font-size:16px}
.flow-card-first::before{display:none}
.flow-card-last::after{display:none}
.flow-card .card-footer{content:" "}
.flow-card .card-footer{content:" "}



@media (max-width: 768px){

    #secondCard .card-title::before,#firstCard .card-title::before{
        display: none;
    }

    .flow-card{
        width: 320px;
    }

    #secondCard .card-title::after,#thirdCard .card-title::after{
        background:#6a737d;
        border-radius:50%;
        content:"";
        display:block;
        height:12px;
        left:50%;
        margin:0 0 0 -6px;
        position:absolute;
        top:-6px;
        width:12px;
    }

    .flow-card{box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,0.15);margin-bottom:80px;width:320px;z-index:0;position:relative}
    .flow-card::after,.flow-card::before{background:#f6f8fa;border-radius:50%;box-shadow:0 0 0 1px #e1e4e8;content:"";display:block;height:34px;left:50%;margin:0 0 0 -17px;position:absolute;top:-17px;width:34px;z-index:-1}

    .flow-card.flow-card-first .card-title::after,.flow-card.flow-card-first .card-title::before{display:none}.flow-card-first::before{display:none}.flow-card-last::after{display:none}.flow-card-last{margin-bottom:0}.flow-card::after{background:#fff;bottom:-17px;box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,0.15);top:auto;z-index:0}.flow-card .card-footer{content:" "}.flow-card .card-footer::after,.flow-card .card-footer::before{content:"";display:block;left:50%;position:absolute;z-index:1}.flow-card .card-footer::before{background:#fff;bottom:1px;height:25px;margin:0 0 0 -23px;width:46px}.flow-card .card-footer::after{background:#6a737d;border-radius:50%;bottom:-6px;height:12px;margin:0 0 0 -6px;width:12px}.flow-card .card-title::before{background:#f6f8fa;border-radius:4px 4px 0 0;content:"";display:block;height:4px;left:50%;margin:0 0 0 -17px;position:absolute;top:-3px;width:34px}
    .flow-card .card-line-v{border:2px solid #d1d5da;border-radius:2px;height:80px;margin-right:-2px;right:50%;top:100%;width:0;position:absolute}
    .flow-card .card-footer{content:" "}.flow-card .card-footer::after,.flow-card .card-footer::before{content:"";display:block;left:50%;position:absolute;z-index:1}.flow-card .card-footer::before{background:#fff;bottom:1px;height:25px;margin:0 0 0 -23px;width:46px}.flow-card .card-footer::after{background:#6a737d;border-radius:50%;bottom:-6px;height:12px;margin:0 0 0 -6px;width:12px}
    .flow-card .card-line-v{border:2px solid #d1d5da;border-radius:2px;height:80px;margin-right:-2px;right:50%;top:100%;width:0;position:absolute}

}    
@media (max-width: 480px)
{.flow-card{width:287px}}
